<ul>
    <li class="single-movie"> {{this.name}}; {{this.occupation}};
        {{this.catchPhrase}}</li>
    <a href="movie/update/{{this._id}}"><i class="fas fa-pen"></i></a>
    <a href="movie/delete/{{this._id}}"><i class="fas fa-trash-alt"></i></a>
</ul>